@charset "utf-8";
/* CSS Document */

/* Html
––––––––––––––––––––––––––––––––––––––––––––––––––*/
html {
  font-family: "Trebuchet MS" !important;
  background: rgb(244, 244, 244);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100% !important;
  min-height: 100% !important;
  min-width: 100% !important;
  overflow-x: hidden !important;
}

/* Body
––––––––––––––––––––––––––––––––––––––––––––––––––*/
body {
  font-family: "Helvetica" !important;
  background-color: transparent;
}

/* Dash Dropdown
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.VirtualizedSelectOption {white-space: nowrap;}

/* Dash Table
––––––––––––––––––––––––––––––––––––––––––––––––––*/
tr:hover {
  background-color: rgb(41, 56, 55) !important;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica" !important;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: central;
  text-align: center;
  font-weight: 350;
  color: rgb(251, 251, 252);
  }

p {
  font-weight: 300;
}
